<h1>Books</h1>

 <h4>Title</h4>
  
<% @books.each do |book| %>
  <span><%= book.title %></span>
<% end %>


 <h4>Body</h4>

<% @books.each do |book| %>
  <span><%= book.body %></span>
  <%= link_to "Show",book_path(book.id) %>
  <%= link_to "Edit",edit_book_path(book.id) %>
  <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
  
<% end %>


