<div class = index_flash>
<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
<% end %>
</div>

<div class = "show">
<strong>Title:</strong>
<%= @book.title %>
</div>

<div class = "show">
<strong>Body:</strong>
<%= @book.body %>
</div>

<div>
<%= link_to "Edit",edit_book_path(@book.id) %>
<span>|</span>
<%= link_to "Back",'/books' %>
</div>